*{
    background-color: black;
}
.dvd-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100px;
    background-color: blueviolet;
    background-size: contain;
    border-radius: 5px;
    color: black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }